<% if @rooms.present? %>
<div class="row g-3 row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4">
  <% @rooms.each do |room| %>
    <div class="col">
      <div class="card border-0">
        <%= link_to room do %>
          <img src="https://kenh14cdn.com/203336854389633024/2022/5/17/photo-1-1652748013972183944163.jpg" class="card-img-top rounded" alt="...">
        <% end %>
        <div class="card-body py-1 px-0">
          <div class="text-muted text-capitalize" style="font-size: 14px;"><%= "#{room.room_type.name}" %></div>
          <div class="text-truncate text-capitalize"><%= room.name %> - <%= room.address %></div>
          <div class="fw-bold" style="font-size: 14px;"><%=  number_with_delimiter(room.price)%></div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<% end %>
