<h1>Bookings</h1>

<table class="table table-hover">
  <thead>
    <tr class="">
      <th class="">Room name</th>
      <th class="">Address</th>
      <th class="">Price</th>
      <th class="">Cost</th>
      <th class="">Start day</th>
      <th class="">End day</th>
      <th class="">Created at</th>
      <th class="">Status</th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr class="">
        <td class="">
          <%= booking.room.name %>
        </td>
        <td class="">
          <%= booking.room.address %>
        </td>
        <td class="">
          <%= booking.room.price %>
        </td>
        <td class="">
          <%= booking.cost %>
        </td>
        <td class="">
          <%= booking.startday.strftime('%d/%m/%Y') %>
        </td>
        <td class="">
          <%= booking.endday.strftime('%d/%m/%Y') %>
        </td>
        <td class="">
          <%= booking.created_at.strftime('%H:%M - %d/%m/%Y') %>
        </td>
        <td class="">
          <% case booking.status %>
            <% when 0 %>
              <%= "Pending" %>
            <% when 1 %>
              <%= "Accept" %>
            <% when 2 %>
              <%= "Refuse" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>