<h1>Bookings</h1>

<table class="table table-hover">
  <thead>
    <tr class="">
      <th class="">Guest</th>
      <th class="">Room name</th>
      <th class="">Address</th>
      <th class="">Price</th>
      <th class="">Cost</th>
      <th class="">Start day</th>
      <th class="">End day</th>
      <th class="">Created at</th>
      <th class="">Status</th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr class="">
        <td class="">
          <%= booking.guest.id %>
        </td>
        <td class="">
          <%= booking.room.name %>
        </td>
        <td class="">
          <%= booking.room.address %>
        </td>
        <td class="">
          <%= booking.room.price %>
        </td>
        <td class="">
          <%= booking.cost %>
        </td>
        <td class="">
          <%= booking.startday.strftime('%d/%m/%Y') %>
        </td>
        <td class="">
          <%= booking.endday.strftime('%d/%m/%Y') %>
        </td>
        <td class="">
          <%= booking.created_at.strftime('%H:%M - %d/%m/%Y') %>
        </td>
        <td class="d-flex justify-content-between">
          <% case booking.status %>
            <% when 0 %>
              <%= "Pending" %>
            <%= button_to "Accept", booking, method: :patch, remote: true, params: { booking: { status: 2 }} %>
            <%= button_to "Refuse", booking, method: :patch, remote: true, params: { booking: { status: 1}} %>
            <% when 1 %>
              <%= "Accept" %>
            <% when 2 %>
              <%= "Refuse" %>
          <% end %>
        </td>
          
      </tr>
    <% end %>
  </tbody>
</table>