<h1>Bookings </h1>
<table class="table table-hover">
  <thead>
    <tr class="">
      <th class="">#</th>
      <th class="">
        <% if current_account.host? %>
          Customer
        <% elsif current_account.guest? %>
          Room Name
        <% end %>
      </th>
      <th class="">Price</th>
      <th class="">Start - End</th>
      <th class="">In - Out</th>
      <th class="">Booking Date</th>
      <th class="">Action</th>
      <th class="" colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @bookings.each_with_index do |booking, index| %>
      <tr class="">
        <td class="">
          <%= index + 1 %>
        </td>
        <td class="">
          <% if current_account.host? %>
            <% if booking.guest.profile.present? %>
              <%= booking.guest.profile.name %>
            <% end %>
          <% elsif current_account.guest? %>
            <%= booking.room.name %>
          <% end %>
        </td>
        <td class="">
          <%= booking.room.price %>
        </td>
        <td class="">
          <%= booking.startday.strftime('%d/%m/%Y') %>-<%= booking.endday.strftime('%d/%m/%Y') %>
        </td>
        <td class="">
          <%= booking.room.room_detail.checkin.strftime('%H:%M') %>-<%= booking.room.room_detail.checkout.strftime('%H:%M') %>
        </td>
        <td class="">
          <%= booking.created_at.strftime('%H:%M - %d/%m/%Y') %>
        </td>
        <td class="">
          <% if current_account.host? %>
            <%= select_tag :status, options_for_select(Booking.statuses.map {|key, value| [key.titleize, Booking.statuses.key(value)]}, booking.status), class: booking.id %>
          <% elsif current_account.guest? %>
            <% if booking.status == "pending" %>
              <%= button_to 'Cancel', booking_url(booking), method: :delete, data: { confirm: 'Are you sure?' } %>
            <% elsif booking.status == "accept" %>
              <button disabled>Accepted</button>
            <% elsif booking.status == "refuse" %>
              <button disabled>Refused</button>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<script type="text/javascript">
  $(document).on("change","#status",function() {
    var booking_id = $(this).attr('class')
    var status_id = $('option:selected',this).text().toLowerCase()
    $.ajax({
      type: "PATCH",
      url: "/rooms/" + <%= @bookings.first.room.id if @bookings.exists? %> + "/bookings/" + booking_id + "/" + status_id,
      data: { booking_id, status_id}
    })
  })
</script>
