<nav class="navbar navbar-expand-sm  navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="https://qph.fs.quoracdn.net/main-qimg-6e4b2e7b2b4b6980805e46f0eebe6b89" alt="" width="30" height="30" class="d-inline-block align-text-top">
      Rental Room
    </a>
    <div class="navbar-nav ms-auto d-md-none">
      <div class="nav-item">
        <a class="nav-link dropdown me-2" href="#" id="searchDropdown" role="button" data-bs-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
          <i class="bi bi-search"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right p-2 shadow" id="searchDropdownForm" aria-labelledby="searchDropdown">
          <%= form_with url: '/search', method: :get, local: true, html: {class: ""} do |f| %>
            <div class="input-group border-0">
              <%= f.text_field :location, class: 'form-control',placeholder: 'Search for ...', value: params[:location] %>
              <%= f.date_field :checkin, class: 'form-control', value: params[:checkin] %>
              <button class="btn btn-primary" type="submit">
                <i class="bi bi-search"></i>
              </button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <%= form_with url: '/search', method: :get, local: true, html: {class: "d-none d-md-block me-auto"} do |f| %>
      <div class="input-group">
        <%= f.text_field :location, class: 'form-control',placeholder: 'Search for ...', value: params[:location] %>
        <%= f.date_field :checkin, class: 'form-control', value: params[:checkin] %>
        <button class="btn btn-primary" type="submit">
          <i class="bi bi-search"></i>
        </button>
      </div>
    <% end %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <% if account_signed_in? %>
          <% if current_account.guest?  %>
            <li class="nav-item"><a class="nav-link text-black" href="/rooms">List Room</a></li>
            <li class="nav-item"><a class="nav-link text-black" href="/bookings">List Booking</a></li>
          <% elsif current_account.host? %>
            <li class="nav-item"><a class="nav-link text-black" href="/rooms">Host</a></li>
          <% elsif current_account.admin? %>
            <li class="nav-item"><a class="nav-link text-black" href="/admin">Dashboard</a></li>
          <% end %>
        <% end %>
      </ul>
      <ul class="navbar-nav">
        <% if account_signed_in? %>
          <li class="nav-item">
            <%= link_to account_path(current_account), class: "nav-link text-black" do %>
              <span class="bi bi-person-circle"></span>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to "Log out", destroy_account_session_path, class: "nav-link text-black", method: :delete %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to new_account_registration_path, class: "nav-link text-black d-flex" do %>
              <span class="bi bi-box-arrow-in-left me-1"></span>
              Signup
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_account_session_path, class: "nav-link text-black d-flex" do %>
              <span class="bi bi-box-arrow-in-right me-1"></span>
              Login
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
